{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Email Address" %}
{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">{% trans "Email Address" %}</h1>
            {% if emailaddresses %}
                {% if current_emailaddress %}
                    <p>
                        {% trans 'The following email address is associated with your account:' %} <a href="mailto:{{ current_emailaddress.email }}">{{ current_emailaddress.email }}</a>
                    </p>
                {% endif %}
                {% if new_emailaddress %}
                    <p>
                        {% trans 'Your email address is still pending verification:' %} <a href="mailto:{{ new_emailaddress.email }}">{{ new_emailaddress.email }}</a>
                    </p>
                    <form method="post" action="{% url 'account_email' %}">
                        {% csrf_token %}
                        <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
                        <div class="text-center">
                            <button type="submit" name="action_send" class="btn btn-primary">{% trans 'Re-send Verification' %}</button>
                        </div>
                    </form>
                {% endif %}
            {% else %}
                {% include "account/snippets/warn_no_email.html" %}
            {% endif %}
            <h2>{% trans "Change Email Address" %}</h2>
            <form method="post" action="{% url 'account_email' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button name="action_add" type="submit" class="btn btn-primary">{% trans "Change Email" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
