{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Confirm Access" %}{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">{% trans "Confirm Access" %}</h1>

            <p class="text-center">{% blocktranslate %}To safeguard the security of your account, please enter your password:{% endblocktranslate %}</p>

            <form class="reauthenticate" method="POST" action="{% url 'account_reauthenticate' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">{% trans "Confirm" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
