{% extends "base.html" %} {% block content %}
{% load static %}

<section id="booking-form">
    <div class="container">
        <h1>My Bookings</h1>
    <table class="booking-table">
        <thead>
            <tr>
                <th>Date and Time</th>
                <th>Status</th>
                <th>Observation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in user_bookings %}
            <tr>
                <td>{{ booking.booking_date_and_time }}</td>
                <td>{{ booking.status }}</td>
                <td>{{ booking.observation }}</td>
                <td class="actions">
                    <a href="" class="btn btn-primary">Edit</a>
                    <a href="{% url 'booking_delete' booking.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>
</section>

{% endblock %}