{% extends "base.html" %} {% block content %}

<!-- index.html content starts here -->

<!----- Home Section ----->
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="cal-md-6 title-h">
                <h1 class="title2">Convenient car care.</h1>
                <h2 class="title3">
                    With locations around Fermoy, we have been one of the leading
                    automobile repair shops for over a decade.
                </h2>
            </div>
        </div>
    </div>
</section>