{% extends "base.html" %} {% block content %}

<!-- index.html content starts here -->

<!----- Home Section ----->
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="cal-md-6 title-h">
                <h1 class="title2">Convenient car care.</h1>
                <h2 class="title3">
                    With locations around Fermoy, we have been one of the leading
                    automobile repair shops for over a decade.
                </h2>
            </div>
        </div>
    </div>
</section>


<!----- Services Section ----->
<section id="services">
    <div class="services-heading">
        <h1>SERVICES</h1>
        <div class="alert alert-warning">
            <p><strong>24-HOUR BREAKDOWN SERVICE</strong></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 services">
                <img src="assets/images/accident-repair-img.png" class="services-img" />
                <h2><strong>Accident repairs</strong></h2>
                <p>We fix, restore, and maintain damaged vehicles.</p>
            </div>
            <div class="col-md-4 services">
                <img src="assets/images/classic-car-img.png" class="services-img" />
                <h2><strong>Classic car restoration</strong></h2>
                <p>
                    We restore and engineer cars from different eras for today and the
                    future.
                </p>
            </div>
            <div class="col-md-4 services">
                <img src="assets/images/home-repair-img.png" class="services-img" />
                <h2><strong>Home repair visits</strong></h2>
                <p>
                    Professional services delivered directly to your doorstep, minimising
                    downtime and inconvenience.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- index.html content ends here -->
{% endblock %}